.InterestsContainer{
    z-index: 200;
    position: absolute;
    margin-top: 115%;
    width: 100%;
}

.InterestsContainer h3{
    font-size: 4vw;
    text-decoration: underline 0.3vw solid blue;
}

.InterestsText{
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 10px;
    border: 1px solid grey
}

.InterestsText text{
    color: black;
    border: 0px;
    font-size: 16px;
    margin-right: 30px;
    
}

.interestsImg{
    width: 10vw;
    border: 1px solid grey;
    border-radius: 5vw;
}