.BasicInformationContainer{
    position: absolute;
    margin-top: 73%;
    width: 100%;
    text-align: left;
    margin-left: 5vw;
    font-size: 18px;
}

.BasicInformationContainer h3{
    font-size: 4vw;
    text-decoration: underline 0.3vw solid blue;
    text-align: center;
}