.ExperienceContainer{
    z-index: 200;
    position: absolute;
    margin-top: 252%;
    width: 100%;
}

.ExperienceContainer h3{
    font-size: 26px;
    text-decoration: underline 0.3vw solid blue;
}

.leftCard{
    border: 1px solid grey;
    width: 35vw;
    height:fit-content;
    margin-left: 5vw;
    border-radius: 10px;
    text-align: left;
    padding: 5px 5px;
}

h4{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    margin-left: 5px;
}

h5{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    margin-left: 5px;
}

text{
    margin-left: 5px;
    text-align: justify;
}

.rightCard{
    border: 1px solid grey;
    width: 35vw;
    height:fit-content;
    margin-left: 60vw;
    border-radius: 10px;
    text-align: left;
    padding: 5px 5px;
}